Repository easybuilders/easybuild-easyblocks, pull requests merged in 2024-04, with the labels that each got.

#3265 remove unused easyblock for `ncurses` (`ncurses.py`)
  easybuild/easyblocks/n/ncurses.py
Labels: code cleanup, EasyBuild-5.0

#3264 use `sysconfig.get_config_vars` from Python standard library in `PythonPackage` easyblock (instead of `distutils.sysconfig.get_config_vars`)
  easybuild/easyblocks/generic/pythonpackage.py
Labels: bug fix, EasyBuild-5.0

#3266 also run easyblocks test suite with Python 3.12
  .github/workflows/unit_tests.yml
Labels: tests, EasyBuild-5.0

#3240 ensure localrc is created in the correct subdir for NVHPC v22.9+
  easybuild/easyblocks/n/nvhpc.py
Labels: bug fix

#3271 remove custom easyblock for WRF-Fire
  easybuild/easyblocks/w/wrf_fire.py
Labels: code cleanup, EasyBuild-5.0

#3272 prepare release notes for EasyBuild v4.9.1 + bump version to 4.9.1
  RELEASE_NOTES
  easybuild/easyblocks/__init__.py
Labels: update, documentation

#3276 tweak release notes for EasyBuild v4.9.1
  RELEASE_NOTES
Labels: update, documentation

#3257 New easyblock for building QuantumESPRESSO with CMake
  easybuild/easyblocks/q/quantumespresso.py
  easybuild/easyblocks/q/quantumespressocmake.py
Labels: new

#3284 sync with main + bump version to 4.9.2dev
  RELEASE_NOTES
  easybuild/easyblocks/__init__.py
Labels: update

#3270 use `run_shell_cmd` in custom easyblock for WRF
  easybuild/easyblocks/w/wrf.py
Labels: change, EasyBuild-5.0

#3285 remove unused custom easyblock for HEALPix (healpix.py)
  easybuild/easyblocks/h/healpix.py
Labels: change, code cleanup, EasyBuild-5.0

#3274 use `run_shell_cmd` in custom easyblock for CUDA
  easybuild/easyblocks/c/cuda.py
Labels: EasyBuild-5.0

#3263 add warning if `.Renviron` detected during install of RPackage
  easybuild/easyblocks/generic/rpackage.py
Labels: enhancement, EasyBuild-5.0

#3288 use `run_shell_cmd` in custom easyblock for Stata
  easybuild/easyblocks/s/stata.py
Labels: change, EasyBuild-5.0

#3292 remove unused custom easyblock for Modeller (modeller.py)
  easybuild/easyblocks/m/modeller.py
Labels: change, code cleanup, EasyBuild-5.0

#3294 remove unused custom easyblock for Molpro (molpro.py)
  easybuild/easyblocks/m/molpro.py
Labels: change, code cleanup, EasyBuild-5.0

#3286 use `run_shell_cmd` in custom easyblock for Maple
  easybuild/easyblocks/m/maple.py
Labels: change, EasyBuild-5.0

#3289 use `run_shell_cmd` in custom easyblock for RepeatModeler
  easybuild/easyblocks/r/repeatmodeler.py
Labels: change, EasyBuild-5.0

#3291 use `run_shell_cmd` in custom easyblock for Qt
  easybuild/easyblocks/q/qt.py
Labels: change, EasyBuild-5.0

#3290 use `run_shell_cmd` in custom easyblock for RepeatMasker
  easybuild/easyblocks/r/repeatmasker.py
Labels: change, EasyBuild-5.0

#3293 use `run_shell_cmd` in custom easyblock for DualSPHysics
  easybuild/easyblocks/d/dualsphysics.py
Labels: change, EasyBuild-5.0

#3296 drop support for versions < 9.5 in custom easyblock for Geant4
  easybuild/easyblocks/g/geant4.py
Labels: change, code cleanup, EasyBuild-5.0

#3298 use `run_shell_cmd` in custom easyblock for Mathematica
  easybuild/easyblocks/m/mathematica.py
Labels: change, EasyBuild-5.0

#3302 fix `--module-only` + cleanup for custom easyblock for Geant4
  easybuild/easyblocks/g/geant4.py
Labels: EasyBuild-5.0

#3297 use `run_shell_cmd` in custom easyblock for WPS
  easybuild/easyblocks/w/wps.py
Labels: change, EasyBuild-5.0

#3295 use `run_shell_cmd` in custom easyblock for CPLEX
  easybuild/easyblocks/c/cplex.py
Labels: change, EasyBuild-5.0

#3299 use `run_shell_cmd` in custom easyblock for OpenFOAM
  easybuild/easyblocks/o/openfoam.py
Labels: change, EasyBuild-5.0

#3309 consider both easybuild-easyblocks*.tar.gz and easybuild_easyblocks*tar.gz in CI workflows
  .github/workflows/unit_tests.yml
Labels: bug fix, EasyBuild-5.0

#3307 Binary easyblock already adds top level directory to PATH, so no need to do it in the Stata easyblock
  easybuild/easyblocks/s/stata.py
Labels: code cleanup

#3308 use `run_shell_cmd` in testsuite
  test/easyblocks/general.py
  test/easyblocks/module.py
Labels: change, EasyBuild-5.0

#3305 Allow 'nosource: True' in PythonPackage extensions'
  easybuild/easyblocks/generic/pythonpackage.py
Labels: enhancement

#3300 new easyblock for optiSLang
  easybuild/easyblocks/o/optislang.py
Labels: new

#3314 auto-disable FFTW quad precision on RISC-V
  easybuild/easyblocks/f/fftw.py
Labels: EESSI, riscv
