Repository easybuilders/easybuild-easyblocks, pull requests merged in 2024-02, with the labels that each got.

#3119 Update MCR easy block for compatibility with v >= R2022b
  easybuild/easyblocks/m/mcr.py
Labels: bug fix

#3120 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Java (`java.py`)
  easybuild/easyblocks/j/java.py
Labels: change, EasyBuild-5.0

#3162 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Perl (`perl.py`)
  easybuild/easyblocks/p/perl.py
Labels: change, EasyBuild-5.0

#3154 remove unused custom easyblock for DOLFIN (`dolfin.py`)
  easybuild/easyblocks/d/dolfin.py
Labels: change, code cleanup, EasyBuild-5.0

#3166 replace `run_cmd` with `run_shell_cmd` in custom easyblock for PALM (`palm.py`)
  easybuild/easyblocks/p/palm.py
Labels: change, EasyBuild-5.0

#3138 remove unused custom easyblock for VSC-tools (`vsc_tools.py`)
  easybuild/easyblocks/v/vsc_tools.py
Labels: change, code cleanup, EasyBuild-5.0

#3118 update `Cargo` easyblock to extract crates into a vendor subdir and overwrite git repo URLs with local paths
  easybuild/easyblocks/generic/cargo.py
Labels: bug fix

#3170 fail on non-zero exit code in command to run Perl test suite
  easybuild/easyblocks/p/perl.py
Labels: change, EasyBuild-5.0

#3165 replace `run_cmd` with `run_shell_cmd` in custom easyblock for TensorFlow (`tensorflow.py`)
  easybuild/easyblocks/t/tensorflow.py
Labels: change, EasyBuild-5.0

#3180 replace `run_cmd` with `run_shell_cmd` in custom easyblock for TINKER (`tinker.py`)
  easybuild/easyblocks/t/tinker.py
Labels: change, EasyBuild-5.0

#3182 remove unused custom easyblock for python_meep (`python_meep.py`)
  easybuild/easyblocks/p/python_meep.py
Labels: change, code cleanup, EasyBuild-5.0

#3181 remove unused custom easyblock for PGI (`pgi.py`)
  easybuild/easyblocks/p/pgi.py
Labels: change, code cleanup, EasyBuild-5.0

#3184 remove unused custom easyblock for PSI (`psi.py`)
  easybuild/easyblocks/p/psi.py
Labels: change, code cleanup, EasyBuild-5.0

#3171 replace `run_cmd` with `run_shell_cmd` in custom easyblock for pybind11 (`pybind11.py`)
  easybuild/easyblocks/p/pybind11.py
Labels: change, EasyBuild-5.0

#3167 replace `run_cmd` with `run_shell_cmd` in custom easyblock for ParMETIS (`parmetis.py`)
  easybuild/easyblocks/p/parmetis.py
Labels: change, EasyBuild-5.0

#3168 replace `run_cmd` with `run_shell_cmd` in custom easyblock for PETSc (`petsc.py`)
  easybuild/easyblocks/p/petsc.py
Labels: change, EasyBuild-5.0

#3112 replace `run_cmd` with `run_shell_cmd` in custom easyblock for CUDAcompat (`cudacompat.py`)
  easybuild/easyblocks/c/cudacompat.py
Labels: change, EasyBuild-5.0

#3122 replace `run_cmd` with `run_shell_cmd` in custom easyblock for imkl (`imkl.py`)
  easybuild/easyblocks/i/imkl.py
Labels: change, EasyBuild-5.0

#3123 replace `run_cmd` with `run_shell_cmd` in custom easyblock for itac (`itac.py`)
  easybuild/easyblocks/i/itac.py
Labels: change, EasyBuild-5.0

#3124 replace `run_cmd` with `run_shell_cmd` in custom easyblock for impi (`impi.py`)
  easybuild/easyblocks/i/impi.py
Labels: change, EasyBuild-5.0

#3151 remove unused custom easyblock for CFDEMcoupling (`cfdemcoupling.py`)
  easybuild/easyblocks/c/cfdemcoupling.py
Labels: change, code cleanup, EasyBuild-5.0

#3115 replace `run_cmd` with `run_shell_cmd` in custom easyblock for ESMF (`esmf.py`)
  easybuild/easyblocks/e/esmf.py
Labels: change, EasyBuild-5.0

#3185 remove unused custom easyblock for pplacer (`pplacer.py`)
  easybuild/easyblocks/p/pplacer.py
Labels: change, code cleanup, EasyBuild-5.0

#3152 remove unused custom easyblock for DL_POLY_Classic (`dl_poly_classic.py`)
  easybuild/easyblocks/d/dl_poly_classic.py
Labels: change, code cleanup, EasyBuild-5.0

#3153 replace `run_cmd` with `run_shell_cmd` in custom easyblock for dm-reverb (`dm_reverb.py`)
  easybuild/easyblocks/d/dm_reverb.py
Labels: change, EasyBuild-5.0

#3155 remove unused custom easyblock for fastStructure (`faststructure.py`)
  easybuild/easyblocks/f/faststructure.py
Labels: change, code cleanup, EasyBuild-5.0

#3156 replace `run_cmd` with `run_shell_cmd` in custom easyblock for FDTD_Solutions (`fdtd_solutions.py`)
  easybuild/easyblocks/f/fdtd_solutions.py
Labels: change, EasyBuild-5.0

#3136 replace `run_cmd` with `run_shell_cmd` in custom easyblock for FlexiBLAS (`flexiblas.py`)
  easybuild/easyblocks/f/flexiblas.py
Labels: change, EasyBuild-5.0

#3135 replace `run_cmd` with `run_shell_cmd` in custom easyblock for FLUENT (`fluent.py`)
  easybuild/easyblocks/f/fluent.py
Labels: change, EasyBuild-5.0

#3133 replace `run_cmd` with `run_shell_cmd` in custom easyblock for GATE (`gate.py`)
  easybuild/easyblocks/g/gate.py
Labels: change, EasyBuild-5.0

#3137 replace `run_cmd` with `run_shell_cmd` in custom easyblock for GCC (`gcc.py`)
  easybuild/easyblocks/g/gcc.py
Labels: change, EasyBuild-5.0

#3131 replace `run_cmd` with `run_shell_cmd` in custom easyblock for GROMACS (`gromacs.py`)
  easybuild/easyblocks/g/gromacs.py
Labels: change, EasyBuild-5.0

#3130 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Gurobi (`gurobi.py`)
  easybuild/easyblocks/g/gurobi.py
Labels: change, EasyBuild-5.0

#3128 replace `run_cmd` with `run_shell_cmd` in custom easyblock for HPL (`hpl.py`)
  easybuild/easyblocks/h/hpl.py
Labels: change, EasyBuild-5.0

#3158 replace `run_cmd` with `run_shell_cmd` in custom easyblock for HPCG (`hpcg.py`)
  easybuild/easyblocks/h/hpcg.py
Labels: change, EasyBuild-5.0

#3113 replace `run_cmd` with `run_shell_cmd` in custom easyblock for CP2K (`cp2k.py`)
  easybuild/easyblocks/c/cp2k.py
Labels: change, EasyBuild-5.0

#3125 remove unused custom easyblock for IronPython (`ironpython.py`)
  easybuild/easyblocks/i/ironpython.py
Labels: change, code cleanup, EasyBuild-5.0

#3126 remove unused custom easyblock for IMOD (`imod.py`)
  easybuild/easyblocks/i/imod.py
  test/easyblocks/module.py
Labels: change, code cleanup, EasyBuild-5.0

#3140 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Scipion (`scipion.py`)
  easybuild/easyblocks/s/scipion.py
Labels: change, EasyBuild-5.0

#3142 replace `run_cmd` with `run_shell_cmd` in custom easyblock for SEPP (`sepp.py`)
  easybuild/easyblocks/s/sepp.py
Labels: change, EasyBuild-5.0

#3144 replace `run_cmd` with `run_shell_cmd` in custom easyblock for STAR-CCM+ (`star_ccm.py`)
  easybuild/easyblocks/s/star_ccm.py
Labels: EasyBuild-5.0

#3143 replace `run_cmd` with `run_shell_cmd` in custom easyblock for SLEPc (`slepc.py`)
  easybuild/easyblocks/s/slepc.py
Labels: change, EasyBuild-5.0

#3141 replace `run_cmd` with `run_shell_cmd` in custom easyblock for SCOTCH (`scotch.py`)
  easybuild/easyblocks/s/scotch.py
Labels: change, EasyBuild-5.0

#3150 replace `run_cmd` with `run_shell_cmd` in custom easyblock for QScintilla (`qscintilla.py`)
  easybuild/easyblocks/q/qscintilla.py
Labels: change, EasyBuild-5.0

#3145 replace `run_cmd` with `run_shell_cmd` in custom easyblock for tbb (`tbb.py`)
  easybuild/easyblocks/t/tbb.py
Labels: change, EasyBuild-5.0

#3149 replace `run_cmd` with `run_shell_cmd` in custom easyblock for ROOT (`root.py`)
  easybuild/easyblocks/r/root.py
Labels: change, EasyBuild-5.0

#3157 remove unused custom easyblock for FreeFEM (`freefem.py`)
  easybuild/easyblocks/f/freefem.py
Labels: change, code cleanup, EasyBuild-5.0

#3172 remove unused custom easyblock for ACML (`acml.py`)
  easybuild/easyblocks/a/acml.py
Labels: change, code cleanup, EasyBuild-5.0

#3173 remove unused custom easyblock for ALADIN (`aladin.py`)
  easybuild/easyblocks/a/aladin.py
Labels: change, code cleanup, EasyBuild-5.0

#3174 remove unused custom easyblock for BiSearch (`bisearch.py`)
  easybuild/easyblocks/b/bisearch.py
Labels: change, EasyBuild-5.0

#3175 remove unused custom easyblock for Doris (`doris.py`)
  easybuild/easyblocks/d/doris.py
Labels: change, code cleanup, EasyBuild-5.0

#3176 remove unused custom easyblock for Samcef (`samcef.py`)
  easybuild/easyblocks/s/samcef.py
Labels: change, code cleanup, EasyBuild-5.0

#3177 remove unused custom easyblock for SAS (`sas.py`)
  easybuild/easyblocks/s/sas.py
Labels: change, code cleanup, EasyBuild-5.0

#3178 remove unused custom easyblock for SNPhylo (`snphylo.py`)
  easybuild/easyblocks/s/snphylo.py
Labels: change, code cleanup, EasyBuild-5.0

#3191 remove unused custom easyblock for TotalView (`totalview.py`)
  easybuild/easyblocks/t/totalview.py
Labels: change, code cleanup, EasyBuild-5.0

#3194 remove unneeded custom easyblock for OpenIFS (`openifs.py`)
  easybuild/easyblocks/o/openifs.py
Labels: change, code cleanup, EasyBuild-5.0

#3179 replace `run_cmd` with `run_shell_cmd` in custom easyblock for TensorRT (`tensorrt.py`)
  easybuild/easyblocks/t/tensorrt.py
Labels: change, EasyBuild-5.0

#3164 replace `run_cmd` with `run_shell_cmd` in custom easyblock for tensorflow_compression (`tensorflow_compression.py`)
  easybuild/easyblocks/t/tensorflow_compression.py
Labels: change, EasyBuild-5.0

#3147 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Rosetta (`rosetta.py`)
  easybuild/easyblocks/r/rosetta.py
Labels: change, EasyBuild-5.0

#3187 replace `run_cmd` with `run_shell_cmd` in custom easyblock for VMD (`vmd.py`)
  easybuild/easyblocks/v/vmd.py
Labels: change, EasyBuild-5.0

#3146 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Rust (`rust.py`)
  easybuild/easyblocks/r/rust.py
Labels: change, EasyBuild-5.0

#3129 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Hadoop (`hadoop.py`)
  easybuild/easyblocks/h/hadoop.py
Labels: change, EasyBuild-5.0

#3188 replace `run_cmd` with `run_shell_cmd` in custom easyblock for VEP (`vep.py`)
  easybuild/easyblocks/v/vep.py
Labels: change, EasyBuild-5.0

#3189 replace `run_cmd` with `run_shell_cmd` in custom easyblock for UCX Plugins (`ucx_plugins.py`)
  easybuild/easyblocks/u/ucx_plugins.py
Labels: change, EasyBuild-5.0

#3159 replace `run_cmd` with `run_shell_cmd` in custom easyblock for icc (`icc.py`)
  easybuild/easyblocks/i/icc.py
Labels: change, EasyBuild-5.0

#3190 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Trinity (`trinity.py`)
  easybuild/easyblocks/t/trinity.py
Labels: change, EasyBuild-5.0

#3192 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Siesta (`siesta.py`)
  easybuild/easyblocks/s/siesta.py
Labels: change, EasyBuild-5.0

#3198 replace `run_cmd` with `run_shell_cmd` in custom easyblock for NVHPC (`nvhpc.py`)
  easybuild/easyblocks/n/nvhpc.py
Labels: change, EasyBuild-5.0

#3199 replace `run_cmd` with `run_shell_cmd` in custom easyblock for numpy (`numpy.py`)
  easybuild/easyblocks/n/numpy.py
Labels: change, EasyBuild-5.0

#3221 enable `use_pip` for extensions that are installed along with Python
  easybuild/easyblocks/p/python.py
Labels: bug fix, EasyBuild-5.0

#2958 update Clang-AOMP easyblock for ROCm 5.6 + consider both `$EBROOTGCC` and `$EBROOTGCCCORE` to specify `-DGCC_INSTALL_PREFIX`
  easybuild/easyblocks/c/clang_aomp.py
Labels: update

#3193 replace `run_cmd` with `run_shell_cmd` in custom easyblock for OpenSSL / OpenSSL_wrapper (`openssl.py` and `openssl_wrapper.py`)
  easybuild/easyblocks/o/openssl.py
  easybuild/easyblocks/o/openssl_wrapper.py
Labels: change, EasyBuild-5.0

#3223 OpenMPI: Add --with-ucc only for 4.1.4+
  easybuild/easyblocks/o/openmpi.py
Labels: enhancement

#3195 replace `run_cmd` with `run_shell_cmd` in custom easyblock for OpenBLAS (`openblas.py`)
  easybuild/easyblocks/o/openblas.py
Labels: change, EasyBuild-5.0

#3085 Improve error checking in PyTorch easyblock
  easybuild/easyblocks/p/pytorch.py
Labels: enhancement

#3070 update PyTorch easyblock to avoid configure warnings by disabling some options
  easybuild/easyblocks/p/pytorch.py
Labels: bug fix

#3225 only install Gurobi Python bindings via setup.py for Gurobi v10.x and older
  easybuild/easyblocks/g/gurobi.py
Labels: update

#3036 enhance LAMMPS easyblock dynamically add `ARMV81` and `A64FX` to Kokkos CPU mapping based on LAMMPS version + fix installation of Python bindings for LAMMPS >= 2Aug2023
  easybuild/easyblocks/l/lammps.py
Labels: enhancement

#3163 update `run_async` methods in `RPackage`, `Rmpi`, and `Rserve` easyblocks to use submit `run_shell_cmd` call into thread pool
  easybuild/easyblocks/generic/rpackage.py
  easybuild/easyblocks/r/rmpi.py
  easybuild/easyblocks/r/rserve.py
Labels: change, EasyBuild-5.0

#3197 replace `run_cmd` with `run_shell_cmd` in custom easyblock for NWChem (`nwchem.py`)
  easybuild/easyblocks/n/nwchem.py
Labels: change, EasyBuild-5.0

#3218 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Libint (`libint.py`)
  easybuild/easyblocks/l/libint.py
Labels: change, EasyBuild-5.0

#3217 replace `run_cmd` with `run_shell_cmd` in custom easyblock for libQGLViewer (`libqglviewer.py`)
  easybuild/easyblocks/l/libqglviewer.py
Labels: change, EasyBuild-5.0

#3213 replace `run_cmd` with `run_shell_cmd` in custom easyblock for MCR (`mcr.py`)
  easybuild/easyblocks/m/mcr.py
Labels: change, EasyBuild-5.0

#3216 remove unused custom easyblock for libsmm (`libsmm.py`)
  easybuild/easyblocks/l/libsmm.py
Labels: change, code cleanup, EasyBuild-5.0

#3212 replace `run_cmd` with `run_shell_cmd` in custom easyblock for METIS (`metis.py`)
  easybuild/easyblocks/m/metis.py
Labels: change, EasyBuild-5.0

#3211 remove unused custom easyblock for Mono (`mono.py`)
  easybuild/easyblocks/m/mono.py
Labels: change, code cleanup, EasyBuild-5.0

#3210 replace `run_cmd` with `run_shell_cmd` in custom easyblock for MrBayes (`mrbayes.py`)
  easybuild/easyblocks/m/mrbayes.py
Labels: change, EasyBuild-5.0

#3208 remove unused custom easyblock for MSM (`msm.py`)
  easybuild/easyblocks/m/msm.py
Labels: change, code cleanup, EasyBuild-5.0

#3200 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Nim (`nim.py`)
  easybuild/easyblocks/n/nim.py
Labels: change, EasyBuild-5.0

#3201 replace `run_cmd` with `run_shell_cmd` in custom easyblock for NEURON (`neuron.py`)
  easybuild/easyblocks/n/neuron.py
Labels: change, EasyBuild-5.0

#3202 remove unused custom easyblock for NEMO (`nemo.py`)
  easybuild/easyblocks/n/nemo.py
Labels: change, code cleanup, EasyBuild-5.0

#3203 replace `run_cmd` with `run_shell_cmd` in custom easyblock for NCL (`ncl.py`)
  easybuild/easyblocks/n/ncl.py
Labels: change, EasyBuild-5.0

#3214 replace `run_cmd` with `run_shell_cmd` in custom easyblock for PSI/PSI4 (`psi.py`)
  easybuild/easyblocks/p/psi.py
Labels: change, EasyBuild-5.0
