Repository easybuilders/easybuild-easyblocks, pull requests merged in 2024-01, with the labels that each got.

#3063 fix ELPA preprocessor flag for QuantumESPRESSO >= 7
  easybuild/easyblocks/q/quantumespresso.py
Labels: bug fix

#3066 remove custom easyblock for EggLib
  easybuild/easyblocks/e/egglib.py
  easybuild/easyblocks/s/suitesparse.py
Labels: code cleanup

#2950 set BGW_TEST_MPI_NPROCS in BerkeleyGW test step
  easybuild/easyblocks/b/berkeleygw.py
Labels: bug fix

#3046 Convert generic easyblocks to `run_shell_cmd`
  easybuild/easyblocks/generic/binary.py
  easybuild/easyblocks/generic/cargo.py
  easybuild/easyblocks/generic/cmakemake.py
  easybuild/easyblocks/generic/cmdcp.py
  easybuild/easyblocks/generic/conda.py
  easybuild/easyblocks/generic/configuremake.py
  easybuild/easyblocks/generic/configuremakepythonpackage.py
  easybuild/easyblocks/generic/fortranpythonpackage.py
  easybuild/easyblocks/generic/gopackage.py
  easybuild/easyblocks/generic/intelbase.py
  easybuild/easyblocks/generic/juliapackage.py
  easybuild/easyblocks/generic/mesonninja.py
  easybuild/easyblocks/generic/ocamlpackage.py
  easybuild/easyblocks/generic/octavepackage.py
  easybuild/easyblocks/generic/perlmodule.py
  easybuild/easyblocks/generic/pythonpackage.py
  easybuild/easyblocks/generic/rpackage.py
  easybuild/easyblocks/generic/rpm.py
  easybuild/easyblocks/generic/rubygem.py
  easybuild/easyblocks/generic/scons.py
  easybuild/easyblocks/generic/systemcompiler.py
  easybuild/easyblocks/generic/systemmpi.py
  easybuild/easyblocks/generic/tarball.py
  easybuild/easyblocks/generic/versionindependentpythonpackage.py
  easybuild/easyblocks/generic/waf.py
Labels: EasyBuild-5.0

#3065 add `pip_verbose` option to PythonPackage and set it to True in PyTorch easyblock, to show build output when using pip
  easybuild/easyblocks/generic/pythonpackage.py
  easybuild/easyblocks/p/pytorch.py
Labels: enhancement

#3050 new easyblock for DualSPHysics
  easybuild/easyblocks/d/dualsphysics.py
Labels: new

#3035 update WIEN2k easyblock for v23.2
  easybuild/easyblocks/w/wien2k.py
Labels: update

#3069 fix link order in PETSc easyblock for SCOTCH >= 7.x
  easybuild/easyblocks/p/petsc.py
Labels: bug fix

#3067 bypass .mod file in Clang, AOCC, AOMP, and CPLEX
  easybuild/easyblocks/a/aocc.py
  easybuild/easyblocks/a/aomp.py
  easybuild/easyblocks/c/clang.py
  easybuild/easyblocks/c/cplex.py
Labels: bug fix, EasyBuild-5.0

#3074 remove `hidden=True` from `run_shell_cmd` in `PythonPackage` easyblock for consistency
  easybuild/easyblocks/generic/pythonpackage.py
Labels: bug fix

#3076 add Clang `opt` binary to RPATH wrapper dir
  easybuild/easyblocks/c/clang.py
Labels: bug fix

#3073 use `(=|:=)` in regex because OpenFOAM rule files use `:=` instead of `=` since v2212
  easybuild/easyblocks/o/openfoam.py
Labels: bug fix

#3080 don't change `installopts` easyconfig parameter value in-place in `PythonPackage` easyblock
  easybuild/easyblocks/d/dm_reverb.py
  easybuild/easyblocks/generic/pythonpackage.py
  easybuild/easyblocks/generic/versionindependentpythonpackage.py
  easybuild/easyblocks/p/pybind11.py
  easybuild/easyblocks/s/scipy.py
  easybuild/easyblocks/t/tensorrt.py
  easybuild/easyblocks/w/wxpython.py
Labels: bug fix, change

#3083 stop running easyblocks test suite with Lmod 7.x
  .github/workflows/unit_tests.yml
Labels: change, tests, EasyBuild-5.0

#3081 also support OpenSSL 3 in OpenSSL wrapper easyblock
  easybuild/easyblocks/o/openssl_wrapper.py
Labels: update

#3084 improve `generate_crate_list` + parsing of crates in `Cargo` easyblock
  easybuild/easyblocks/generic/cargo.py
Labels: bug fix

#3022 enable `download_dep_fail`, `use_pip`, `sanity_pip_check` by default in `PythonPackage` easyblock
  easybuild/easyblocks/e/easybuildmeta.py
  easybuild/easyblocks/generic/pythonbundle.py
  easybuild/easyblocks/generic/pythonpackage.py
  easybuild/easyblocks/j/jaxlib.py
  easybuild/easyblocks/n/numexpr.py
  easybuild/easyblocks/p/pybind11.py
  easybuild/easyblocks/p/pytorch.py
  easybuild/easyblocks/s/sympy.py
  easybuild/easyblocks/t/tensorflow.py
  easybuild/easyblocks/t/tensorrt.py
  easybuild/easyblocks/t/torchvision.py
Labels: change, EasyBuild-5.0

#3088 Apply CMake policy to select python based on PATH order, instead of highest version
  easybuild/easyblocks/generic/cmakemake.py
Labels: bug fix

#3096 remove unused arb.py
  easybuild/easyblocks/a/arb.py
Labels: code cleanup, EasyBuild-5.0

#3091 replace `run_cmd` with `run_shell_cmd` in custom easyblock for ADF (`adf.py`)
  easybuild/easyblocks/a/adf.py
Labels: change, EasyBuild-5.0

#3098 replace `run_cmd` with `run_shell_cmd` in custom easyblock for ant (`ant.py`)
  easybuild/easyblocks/a/ant.py
Labels: change, EasyBuild-5.0

#3102 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Bazel (`bazel.py`)
  easybuild/easyblocks/b/bazel.py
Labels: change, EasyBuild-5.0

#3094 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Amber (`amber.py`)
  easybuild/easyblocks/a/amber.py
Labels: change, EasyBuild-5.0

#3103 remove unused custom easyblock for ATLAS (`atlas.py`)
  easybuild/easyblocks/a/atlas.py
Labels: change, code cleanup, EasyBuild-5.0

#3099 replace `run_cmd` with `run_shell_cmd` in custom easyblock for ANSYS (`ansys.py`)
  easybuild/easyblocks/a/ansys.py
Labels: change, EasyBuild-5.0

#3090 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Anaconda (`anaconda.py`)
  easybuild/easyblocks/a/anaconda.py
Labels: change, EasyBuild-5.0

#3100 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Boost (`boost.py`)
  easybuild/easyblocks/b/boost.py
Labels: change, EasyBuild-5.0

#3092 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Xmipp (`xmipp.py`)
  easybuild/easyblocks/x/xmipp.py
Labels: change, EasyBuild-5.0

#3101 replace `run_cmd` with `run_shell_cmd` in custom easyblock for bzip2 (`bzip2.py`)
  easybuild/easyblocks/b/bzip2.py
Labels: change, EasyBuild-5.0

#3106 drop support for <2 and replace `run_cmd` with `run_shell_cmd` in custom easyblock for scalapack (`scalapack.py`)
  easybuild/easyblocks/s/scalapack.py
Labels: change, EasyBuild-5.0

#3105 replace `run_cmd` with `run_shell_cmd` in custom easyblock for binutils (`binutils.py`)
  easybuild/easyblocks/b/binutils.py
Labels: change, EasyBuild-5.0

#3104 remove unused custom easyblock for BLACS (`blacs.py`)
  easybuild/easyblocks/b/blacs.py
Labels: change, code cleanup, EasyBuild-5.0

#3108 remove unused custom easyblock for CHARMM (`charmm.py`)
  easybuild/easyblocks/c/charmm.py
Labels: change, code cleanup, EasyBuild-5.0

#3110 replace `run_cmd` with `run_shell_cmd` in custom easyblock for COMSOL (`comsol.py`)
  easybuild/easyblocks/c/comsol.py
Labels: change, EasyBuild-5.0

#3072 pick Tcl/Tk lib directory correctly in R easyblock, may be either `lib` or `lib64`
  easybuild/easyblocks/r/r.py
Labels: bug fix

#3111 remove unused custom easyblock for cppcheck (`cppcheck.py`)
  easybuild/easyblocks/c/cppcheck.py
Labels: change, code cleanup, EasyBuild-5.0

#3114 remove unneeded custom easyblock for Doxygen (`doxygen.py`)
  easybuild/easyblocks/d/doxygen.py
Labels: change, code cleanup, EasyBuild-5.0

#3117 remove unused custom easyblock for ESPResSo (`espresso.py`)
  easybuild/easyblocks/e/espresso.py
Labels: change, code cleanup, EasyBuild-5.0

#3107 replace `run_cmd` with `run_shell_cmd` in custom easyblock for cryptography (`cryptography.py`)
  easybuild/easyblocks/c/cryptography.py
Labels: change, EasyBuild-5.0

#3109 replace `run_cmd` with `run_shell_cmd` in custom easyblock for Chimera (`chimera.py`)
  easybuild/easyblocks/c/chimera.py
Labels: change, EasyBuild-5.0

#3086 remove trailing slash in `PETSC_DIR` set by custom easyblock for PETSc
  easybuild/easyblocks/p/petsc.py
Labels: bug fix, update
