Repository easybuilders/easybuild-easyblocks, pull requests merged in 2024-12, with the labels that each got.

#3523 pass the preferred host compiler to the CUDA compiler in the CMakeMake easyblock
  easybuild/easyblocks/generic/cmakemake.py
Labels: bug fix, EESSI

#3520 fix detection of math library in numpy build
  easybuild/easyblocks/n/numpy.py
Labels: bug fix

#3499 let `PythonPackage` easyblock fix python shebangs by default
  easybuild/easyblocks/generic/pythonpackage.py
Labels: enhancement, change, EasyBuild-5.0

#3526 retain custom easyconfig parameters supported by `MesonNinja` easyblock in custom easyblock for `scipy`
  easybuild/easyblocks/s/scipy.py
Labels: bug fix, EasyBuild-5.0

#3532 show path of output file for matlab
  easybuild/easyblocks/m/matlab.py
Labels: enhancement

#3514 update `Python` easyblock to move `sitecustomize.py` into `site-packages`
  easybuild/easyblocks/p/python.py
Labels: change, EasyBuild-5.0

#3525 Rename `post_install_step` to `post_processing_step`
  easybuild/easyblocks/a/aedt.py
  easybuild/easyblocks/a/aocc.py
  easybuild/easyblocks/a/aomp.py
  easybuild/easyblocks/c/clang.py
  easybuild/easyblocks/c/crispr_dav.py
  easybuild/easyblocks/c/cuda.py
  easybuild/easyblocks/d/dualsphysics.py
  easybuild/easyblocks/e/easybuildmeta.py
  easybuild/easyblocks/f/fftwmpi.py
  easybuild/easyblocks/g/gcc.py
  easybuild/easyblocks/generic/binary.py
  easybuild/easyblocks/generic/systemcompiler.py
  easybuild/easyblocks/generic/systemmpi.py
  easybuild/easyblocks/h/hadoop.py
  easybuild/easyblocks/i/imkl.py
  easybuild/easyblocks/i/imkl_fftw.py
  easybuild/easyblocks/i/impi.py
  easybuild/easyblocks/j/java.py
  easybuild/easyblocks/m/mathematica.py
  easybuild/easyblocks/m/metagenome_atlas.py
  easybuild/easyblocks/p/perl.py
Labels: change, EasyBuild-5.0

#3535 remove unused custom easyblock for TAU + clean up custom easyblock for Paraver, only support Paravar >= v4.7
  easybuild/easyblocks/p/paraver.py
  easybuild/easyblocks/t/tau.py
  test/easyblocks/init_easyblocks.py
  test/easyblocks/module.py
Labels: code cleanup, EasyBuild-5.0

#3534 sync with develop (20241218) + version bump to `5.0.0beta1`
  easybuild/easyblocks/__init__.py
  easybuild/easyblocks/g/gromacs.py
  easybuild/easyblocks/generic/cmakemake.py
  easybuild/easyblocks/m/matlab.py
  easybuild/easyblocks/n/numpy.py
  easybuild/easyblocks/o/openfoam.py
  easybuild/easyblocks/w/wps.py
Labels: update, EasyBuild-5.0

#3505 let internal easyblock not create a log file in QuantumESPRESSO easyblock
  easybuild/easyblocks/q/quantumespresso.py
Labels: bug fix

#3537 be more careful when getting value of particular easyconfig parameter in `PythonBundle` and `PythonPackage` easyblock, to avoid trouble with unresolved template values
  easybuild/easyblocks/generic/bundle.py
  easybuild/easyblocks/generic/pythonpackage.py
Labels: bug fix, EasyBuild-5.0

#3539 inject custom '`%(python)s`' template value before getting value of '`buildcmd`' custom easyconfig parameter in `PythonPackage` easyblock
  easybuild/easyblocks/generic/pythonpackage.py
Labels: bug fix, EasyBuild-5.0

#3540 remove use of deprecated `extract_errors_from_log` in `configuremake`
  easybuild/easyblocks/generic/configuremake.py
Labels: code cleanup, EasyBuild-5.0

#3515 remove use of deprecated `parse_log_for_error` in `RPackage` easyblock
  easybuild/easyblocks/generic/rpackage.py
Labels: code cleanup, EasyBuild-5.0

#3509 enhance generic `Bundle` easyblock to transfer module requirements of components, but do not create logfile in components
  easybuild/easyblocks/c/clang_aomp.py
  easybuild/easyblocks/generic/bundle.py
Labels: enhancement

#3542 sync with develop (20241226)
  easybuild/easyblocks/c/clang_aomp.py
  easybuild/easyblocks/generic/bundle.py
  easybuild/easyblocks/q/quantumespresso.py
Labels: update, EasyBuild-5.0

#3543 imports without the single folder letter
  easybuild/easyblocks/i/icc.py
  easybuild/easyblocks/i/intel_compilers.py
  easybuild/easyblocks/m/mamba.py
Labels: bug fix, EasyBuild-5.0
