Repository easybuilders/easybuild-easyblocks, pull requests merged in 2024-05, with the labels that each got.

#3277 Add ABAQUS license server to generated module
  easybuild/easyblocks/a/abaqus.py
Labels: enhancement

#3315 use regular `configure` instead of wrapper script in easyblock for UCX plugins
  easybuild/easyblocks/u/ucx_plugins.py
Labels: enhancement, riscv

#3319 sync with develop (20240506)
  easybuild/easyblocks/a/abaqus.py
  easybuild/easyblocks/a/aedt.py
  easybuild/easyblocks/f/fftw.py
  easybuild/easyblocks/generic/pythonpackage.py
  easybuild/easyblocks/o/optislang.py
  easybuild/easyblocks/s/stata.py
  easybuild/easyblocks/u/ucx_plugins.py
Labels: EasyBuild-5.0

#3318 use ERROR global from tools.config in clang easyblock
  easybuild/easyblocks/c/clang.py
Labels: bug fix, EasyBuild-5.0

#3320 use ERROR global from tools.config in TensorFlow easyblock
  easybuild/easyblocks/t/tensorflow.py
Labels: bug fix, EasyBuild-5.0

#3324 add RISC-V support to Mesa easyblock
  easybuild/easyblocks/m/mesa.py
Labels: enhancement, EESSI, riscv

#3325 add RISC-V support to Clang easyblock
  easybuild/easyblocks/c/clang.py
Labels: enhancement, EESSI, riscv

#3047 refactor GAMESS-US easyblock to directly write install.info (v2)
  easybuild/easyblocks/g/gamess_us.py
Labels: enhancement

#3326 do not run unit tests on Python 3.5
  .github/workflows/unit_tests.yml
Labels: bug fix, change

#3327 use `work_dir` option for `run_shell_cmd` instead of global `chdir` in custom easyblock for Go
  easybuild/easyblocks/g/go.py
Labels: enhancement, EasyBuild-5.0

#3333 sync with develop (20240522)
  easybuild/easyblocks/c/clang.py
  easybuild/easyblocks/g/gamess_us.py
  easybuild/easyblocks/j/java.py
  easybuild/easyblocks/m/mesa.py
  easybuild/easyblocks/m/metalwalls.py
Labels: EasyBuild-5.0

#3335 restore custom easyblock for Molpro
  easybuild/easyblocks/m/molpro.py
Labels: change, EasyBuild-5.0

#3227 set CMake installation `LIBDIR` to `lib` by default in `CMakeMake` easyblock
  easybuild/easyblocks/generic/cmakemake.py
Labels: change, EasyBuild-5.0

#3342 use `run_shell_cmd` (and use f-strings) in custom easyblock for GAMESS-US
  easybuild/easyblocks/g/gamess_us.py
Labels: EasyBuild-5.0

#3340 allow version mismatchs between OpenSSL components in host system as long as they fulfill version requirements
  easybuild/easyblocks/o/openssl_wrapper.py
Labels: enhancement
