Repository easybuilders/easybuild-easyblocks, pull requests merged in 2025-01, with the labels that each got.

#3544 remove Python 2 fallback in `openssl_wrapper`
  easybuild/easyblocks/o/openssl_wrapper.py
Labels: code cleanup, EasyBuild-5.0

#3533 Remove code supporting obsolete versions from `IntelBase` family of easyblocks + remove unused custom easyblock for IPP
  easybuild/easyblocks/a/advisor.py
  easybuild/easyblocks/generic/intelbase.py
  easybuild/easyblocks/i/icc.py
  easybuild/easyblocks/i/ifort.py
  easybuild/easyblocks/i/imkl.py
  easybuild/easyblocks/i/impi.py
  easybuild/easyblocks/i/inspector.py
  easybuild/easyblocks/i/ipp.py
  easybuild/easyblocks/i/itac.py
  easybuild/easyblocks/t/tbb.py
  easybuild/easyblocks/v/vtune.py
  test/easyblocks/init_easyblocks.py
  test/easyblocks/module.py
Labels: code cleanup, EasyBuild-5.0

#3546 switch default to `install_pip=True` in `python.py`
  easybuild/easyblocks/p/python.py
  test/easyblocks/init_easyblocks.py
  test/easyblocks/module.py
Labels: change, EasyBuild-5.0

#3516 update CUDA easyblock to add CUPTI and nvvm library directories to `$LIBRARY_PATH`
  easybuild/easyblocks/c/cuda.py
Labels: bug fix, EESSI

#3563 fix error reporting for unknown value of `unrecognized_configure_options` in `ConfigureMake`
  easybuild/easyblocks/generic/configuremake.py
Labels: bug fix, EasyBuild-5.0

#3548 Enhance Score-P EasyBlock for future releases and better oneAPI support.
  easybuild/easyblocks/s/score_p.py
Labels: enhancement

#3569 add support for Sapphire Rapids in LAMMPS easyblock
  easybuild/easyblocks/l/lammps.py
Labels: enhancement
