Repository easybuilders/easybuild-easyblocks, pull requests merged in 2025-03, with the labels that each got.

#3647 replace delattr with preferred `ModuleLoadEnvironment.remove` method in SystemCompiler and SystemMPI
  easybuild/easyblocks/generic/systemcompiler.py
  easybuild/easyblocks/generic/systemmpi.py
Labels: code cleanup, EasyBuild-5.0

#3651 update workflows to use Ubuntu 22.04
  .github/workflows/linting.yml
  .github/workflows/unit_tests.yml
  test/easyblocks/module.py
Labels: bug fix, update, tests, EasyBuild-5.0

#3373 enhance `LLVM` easyblock for compilation of clang/flang + other llvm-projects
  easybuild/easyblocks/l/llvm.py
Labels: enhancement, EasyBuild-5.0

#3646 Specify tmpdir for ANSYS installations
  easybuild/easyblocks/a/ansys.py
Labels: bug fix

#3655 updates + fixes for GitHub Actions workflows
  .github/workflows/linting.yml
  .github/workflows/unit_tests.yml
  test/easyblocks/module.py
Labels: bug fix, update, tests, EasyBuild-5.0

#3659 make AOCC compiler wrappers aware of keepsymlinks option
  easybuild/easyblocks/a/aocc.py
Labels: bug fix, EasyBuild-5.0

#3641 recursive glob expansion of library files in GROMACS and convert `lib_subdirs` into a property
  easybuild/easyblocks/g/gromacs.py
Labels: bug fix, code cleanup, EasyBuild-5.0

#3654 Fix cargo build when git branch is referenced
  easybuild/easyblocks/generic/cargo.py
Labels: bug fix, EasyBuild-5.0

#3662 sync with develop (20250313)
  easybuild/easyblocks/generic/cargo.py
  easybuild/easyblocks/p/pytorch.py
Labels: update, EasyBuild-5.0

#3649 Use `PythonPackage` as the `default_easyblock` for `PythonBundle`
  easybuild/easyblocks/generic/pythonbundle.py
Labels: change, EasyBuild-5.0

#3663 update configuration options for version 4+ of MPICH
  easybuild/easyblocks/m/mpich.py
Labels: EasyBuild-5.0

#3660 convert RUNPATH into RPATH for Rust binaries in recent Rust versions (> 1.79.0)
  easybuild/easyblocks/r/rust.py
Labels: bug fix, EasyBuild-5.0

#3664 fix use of `run_shell_cmd` in PyTorch easyblock to check for xmlrunner
  easybuild/easyblocks/p/pytorch.py
Labels: bug fix, EasyBuild-5.0

#3657 Explicitly disable libxml2 support in LLVM easyblock if libxml2 is not available as dependency
  easybuild/easyblocks/l/llvm.py
Labels: bug fix, EasyBuild-5.0

#3672 correctly bump version to 5.0.1dev
  easybuild/easyblocks/__init__.py
Labels: update

#3673 remove Python 2.7 and 3.5 from list of classifiers
  setup.py
Labels: bug fix
