Repository easybuilders/easybuild-easyblocks, pull requests merged in 2025-02, with the labels that each got.

#3513 adopt `module_load_environment`: Bundle
  easybuild/easyblocks/generic/bundle.py
Labels: change, EasyBuild-5.0

#3565 Make path to temporary install directory used in test step of `PythonPackage` easyblock available through environment variable so that it may be used in easyconfigs
  easybuild/easyblocks/generic/pythonpackage.py
Labels: enhancement

#3550 adopt `module_load_environment`: icc, ifort, iccifort
  easybuild/easyblocks/i/icc.py
  easybuild/easyblocks/i/iccifort.py
  easybuild/easyblocks/i/ifort.py
Labels: EasyBuild-5.0

#3529 adopt `module_load_environment` in `PerlModule` + custom easyblock for FlexiBLAS
  easybuild/easyblocks/f/flexiblas.py
  easybuild/easyblocks/generic/perlmodule.py
  easybuild/easyblocks/p/perl.py
Labels: EasyBuild-5.0

#3552 adopt `module_load_environment`: intel-compilers
  easybuild/easyblocks/i/intel_compilers.py
Labels: EasyBuild-5.0

#3553 adopt `module_load_environment`: impi
  easybuild/easyblocks/i/impi.py
Labels: EasyBuild-5.0

#3551 adopt `module_load_environment`: IntelBase, Advisor, Inspector, VTune
  easybuild/easyblocks/a/advisor.py
  easybuild/easyblocks/generic/intelbase.py
  easybuild/easyblocks/i/inspector.py
  easybuild/easyblocks/v/vtune.py
Labels: EasyBuild-5.0

#3530 adopt `module_load_environment`: PythonPackage
  easybuild/easyblocks/generic/pythonpackage.py
Labels: EasyBuild-5.0

#3562 adopt `module_load_environment`: conda
  easybuild/easyblocks/generic/conda.py
Labels: EasyBuild-5.0

#3579 adopt `module_load_environment`: ANSYS
  easybuild/easyblocks/a/ansys.py
Labels: change, EasyBuild-5.0

#3578 adopt `module_load_environment`: ABAQUS
  easybuild/easyblocks/a/abaqus.py
Labels: EasyBuild-5.0

#3556 adopt `module_load_environment`: GCC
  easybuild/easyblocks/g/gcc.py
Labels: EasyBuild-5.0

#3577 adopt `module_load_environment`: Anaconda
  easybuild/easyblocks/a/anaconda.py
Labels: EasyBuild-5.0

#3555 adopt `module_load_environment`: imkl
  easybuild/easyblocks/i/imkl.py
Labels: change, EasyBuild-5.0

#3576 Set Cargo variables also for extensions
  easybuild/easyblocks/generic/cargo.py
Labels: bug fix

#3559 split `SystemCompilerGCC` out of `SystemCompiler` and adopt `module_load_environment`
  easybuild/easyblocks/generic/systemcompiler.py
  easybuild/easyblocks/generic/systemcompilergcc.py
  test/easyblocks/module.py
Labels: bug fix, EasyBuild-5.0

#3560 adopt module_load_environment: SystemMPI
  easybuild/easyblocks/generic/systemmpi.py
Labels: change, EasyBuild-5.0

#3585 fix module load environment in Anaconda and Conda easyblocks
  easybuild/easyblocks/a/anaconda.py
  easybuild/easyblocks/generic/conda.py
Labels: bug fix, EasyBuild-5.0

#3587 adopt `module_load_environment` in CUDA easyblock
  easybuild/easyblocks/c/cuda.py
Labels: change, EasyBuild-5.0

#3586 adopt `module_load_environment` in Clang easyblock
  easybuild/easyblocks/c/clang.py
Labels: change, EasyBuild-5.0

#3584 honor `--module-search-path-headers` in easyblocks that hardcode CPATH
  easybuild/easyblocks/f/flexiblas.py
  easybuild/easyblocks/g/gcc.py
  easybuild/easyblocks/generic/intelbase.py
  easybuild/easyblocks/i/icc.py
  easybuild/easyblocks/i/iccifort.py
  easybuild/easyblocks/i/ifort.py
  easybuild/easyblocks/i/imkl.py
  easybuild/easyblocks/i/impi.py
  easybuild/easyblocks/i/intel_compilers.py
Labels: change, EasyBuild-5.0

#3592 adopt `module_load_environment` in Xmipp easyblock
  easybuild/easyblocks/x/xmipp.py
Labels: change, EasyBuild-5.0

#3593 adopt `module_load_environment` in XALT easyblock
  easybuild/easyblocks/x/xalt.py
Labels: change, EasyBuild-5.0

#3595 add support to OpenFOAM easyblock for custom `sanity_check_motorbike` easyconfig parameter to opt out of running motorBike tutorial example during sanity check
  easybuild/easyblocks/o/openfoam.py
Labels: enhancement

#3598 adopt `module_load_environment` in CUDAcompat easyblock
  easybuild/easyblocks/c/cudacompat.py
Labels: EasyBuild-5.0

#3589 enhance FlexiBLAS easyblock to add support for AOCL-BLAS backend
  easybuild/easyblocks/f/flexiblas.py
Labels: enhancement, EasyBuild-5.0

#3599 remove hardcoded CPLUS_INCLUDE_PATH in favor of module-search-path-headers in custom easyblock for Eigen
  easybuild/easyblocks/e/eigen.py
Labels: change, EasyBuild-5.0

#3596 adopt `module_load_environment` in WRF + WPS easyblocks
  easybuild/easyblocks/w/wps.py
  easybuild/easyblocks/w/wrf.py
Labels: change, EasyBuild-5.0

#3601 adopt `module_load_environment` in FreeSurfer easyblock
  easybuild/easyblocks/f/freesurfer.py
Labels: change, EasyBuild-5.0

#3602 adopt `module_load_environment` in VEP easyblock
  easybuild/easyblocks/v/vep.py
Labels: change, EasyBuild-5.0

#3603 adopt `module_load_environment` in Trinity easyblock
  easybuild/easyblocks/t/trinity.py
Labels: change, EasyBuild-5.0

#3615 fix Molpro easyblock in module-only mode
  easybuild/easyblocks/m/molpro.py
Labels: bug fix, change, EasyBuild-5.0

#3604 adopt `module_load_environment` in freetype easyblock
  easybuild/easyblocks/f/freetype.py
Labels: change, EasyBuild-5.0

#3606 adopt `module_load_environment` in FSL easyblock
  easybuild/easyblocks/f/fsl.py
Labels: change, EasyBuild-5.0

#3608 remove `make_module_req_guess` with default settings from HDF5 easyblock
  easybuild/easyblocks/h/hdf5.py
Labels: change, EasyBuild-5.0

#3609 adopt `module_load_environment` in itac easyblock
  easybuild/easyblocks/i/itac.py
Labels: EasyBuild-5.0

#3610 adopt `module_load_environment` in Java easyblock
  easybuild/easyblocks/j/java.py
Labels: change, EasyBuild-5.0

#3611 adopt `module_load_environment` in Libint easyblock
  easybuild/easyblocks/l/libint.py
Labels: change, EasyBuild-5.0

#3617 remove custom easyblock for MTL4, because it has no active easyconfigs
  easybuild/easyblocks/m/mtl4.py
Labels: change, EasyBuild-5.0

#3613 adopt `module_load_environment` in Mathematica easyblock
  easybuild/easyblocks/m/mathematica.py
Labels: change, EasyBuild-5.0

#3616 adopt `module_load_environment` in MRtrix easyblock
  easybuild/easyblocks/m/mrtrix.py
Labels: EasyBuild-5.0

#3618 revamp NEURON easyblock, incl. adopt `module_load_environment`
  easybuild/easyblocks/n/neuron.py
Labels: update, change, code cleanup, EasyBuild-5.0

#3621 remove unused primer3 easyblock
  easybuild/easyblocks/p/primer3.py
Labels: code cleanup, EasyBuild-5.0

#3620 adopt `module_load_environment` in custom easyblock for optiSLang
  easybuild/easyblocks/o/optislang.py
Labels: change, EasyBuild-5.0

#3622 adopt `module_load_environment` in custom easyblock for PyTorch
  easybuild/easyblocks/p/pytorch.py
Labels: change, EasyBuild-5.0

#3619 adopt `module_load_environment` in custom easyblock for OCaml
  easybuild/easyblocks/o/ocaml.py
Labels: change, EasyBuild-5.0

#3626 adopt `module_load_environment` in custom easyblock for R
  easybuild/easyblocks/r/r.py
Labels: change, EasyBuild-5.0

#3625 adopt `module_load_environment` in custom easyblock for TINKER
  easybuild/easyblocks/t/tinker.py
Labels: change, EasyBuild-5.0

#3627 set minimum supported version of PETSc to v3.9 and adopt `module_load_environment`
  easybuild/easyblocks/p/petsc.py
  test/easyblocks/init_easyblocks.py
  test/easyblocks/module.py
Labels: change, code cleanup, EasyBuild-5.0

#3607 adopt `module_load_environment` in GROMACS easyblock
  easybuild/easyblocks/g/gromacs.py
Labels: change, EasyBuild-5.0

#3255 Explicitely mention that the PyTorch easyblock needs updating when failing for this reason
  easybuild/easyblocks/p/pytorch.py
Labels: enhancement

#3631 adopt `module_load_environment` in ROOT easyblock
  easybuild/easyblocks/r/root.py
Labels: change, EasyBuild-5.0

#3630 adopt `module_load_environment` in RepeatModeler and RepeatMasker easyblocks
  easybuild/easyblocks/r/repeatmasker.py
  easybuild/easyblocks/r/repeatmodeler.py
Labels: change, EasyBuild-5.0

#3628 adopt `module_load_environment` in NVHPC easyblock
  easybuild/easyblocks/n/nvhpc.py
Labels: change, EasyBuild-5.0

#3568 Fix PYTHONPATH for hermetic python in TensorFlow builds with EB 5.x
  easybuild/easyblocks/t/tensorflow.py
Labels: bug fix, EasyBuild-5.0

#3629 enhance handling of `PETSC_ARCH` and adopt `module_load_environment` in SLEPc easyblock
  easybuild/easyblocks/s/slepc.py
Labels: change, EasyBuild-5.0

#3635 fix comment in icc/ifort easyblocks that still refered to `make_module_req_guess`
  easybuild/easyblocks/i/icc.py
  easybuild/easyblocks/i/ifort.py
Labels: bug fix, EasyBuild-5.0

#3634 enhance `get_lib_subdirs` in GROMACS easyblock to avoid symlinked paths
  easybuild/easyblocks/g/gromacs.py
Labels: bug fix, EasyBuild-5.0

#3636 add lexming to list of contributors of NEURON, GROMACS, PETSc and SLEPc easyblock
  easybuild/easyblocks/g/gromacs.py
  easybuild/easyblocks/n/neuron.py
  easybuild/easyblocks/p/petsc.py
  easybuild/easyblocks/s/slepc.py
Labels: EasyBuild-5.0

#3574 Fix building PyTorch when using `setup.py` as the build command
  easybuild/easyblocks/generic/pythonpackage.py
  easybuild/easyblocks/p/pytorch.py
Labels: bug fix, EasyBuild-5.0

#3557 Update easyblocks to use `EasyConfig.parallel` property
  easybuild/easyblocks/a/adf.py
  easybuild/easyblocks/a/aomp.py
  easybuild/easyblocks/b/bazel.py
  easybuild/easyblocks/b/berkeleygw.py
  easybuild/easyblocks/b/boost.py
  easybuild/easyblocks/c/clang.py
  easybuild/easyblocks/c/cp2k.py
  easybuild/easyblocks/d/dm_reverb.py
  easybuild/easyblocks/f/flook.py
  easybuild/easyblocks/g/gamess_us.py
  easybuild/easyblocks/g/gcc.py
  easybuild/easyblocks/g/gromacs.py
  easybuild/easyblocks/generic/cargo.py
  easybuild/easyblocks/generic/configuremake.py
  easybuild/easyblocks/generic/mesonninja.py
  easybuild/easyblocks/generic/scons.py
  easybuild/easyblocks/h/hadoop.py
  easybuild/easyblocks/i/impi.py
  easybuild/easyblocks/j/jaxlib.py
  easybuild/easyblocks/m/molpro.py
  easybuild/easyblocks/m/mrtrix.py
  easybuild/easyblocks/n/namd.py
  easybuild/easyblocks/n/neuron.py
  easybuild/easyblocks/n/nwchem.py
  easybuild/easyblocks/o/openblas.py
  easybuild/easyblocks/o/openfoam.py
  easybuild/easyblocks/o/openmpi.py
  easybuild/easyblocks/p/parmetis.py
  easybuild/easyblocks/p/pdt.py
  easybuild/easyblocks/p/perl.py
  easybuild/easyblocks/p/petsc.py
  easybuild/easyblocks/p/psi.py
  easybuild/easyblocks/p/pytorch.py
  easybuild/easyblocks/q/qt.py
  easybuild/easyblocks/q/quantumespresso.py
  easybuild/easyblocks/r/rosetta.py
  easybuild/easyblocks/s/scalapack.py
  easybuild/easyblocks/s/scipy.py
  easybuild/easyblocks/s/siesta.py
  easybuild/easyblocks/s/slepc.py
  easybuild/easyblocks/t/tensorflow.py
  easybuild/easyblocks/t/tensorflow_compression.py
  easybuild/easyblocks/w/wrf.py
Labels: change, EasyBuild-5.0

#3637 sync with develop (20250224)
  easybuild/easyblocks/generic/cargo.py
  easybuild/easyblocks/generic/pythonpackage.py
  easybuild/easyblocks/l/lammps.py
  easybuild/easyblocks/o/openfoam.py
  easybuild/easyblocks/p/pytorch.py
Labels: update, EasyBuild-5.0

#3639 bump version to 5.0.0beta2
  easybuild/easyblocks/__init__.py
Labels: update, EasyBuild-5.0

#3605 Fix bug in FlexiBLAS easyblock to allow AOCL-BLAS to be default
  easybuild/easyblocks/f/flexiblas.py
Labels: bug fix, EasyBuild-5.0

#3547 Use context managers for templating changes in `Bundle` easyblock
  easybuild/easyblocks/generic/bundle.py
Labels: change, EasyBuild-5.0
